name: Build, Scan and Push

on:
  push:
    tags:
      - "*.*.*"

jobs:
  prepare:
    name: Prepare Services with Version
    uses: ./.github/workflows/ci-prepare.yml
    with:
      services: ${{ vars.SERVICES }}

  scan-code-quality:
    name: Scan Code Quality
    needs:
      - prepare
    uses: ./.github/workflows/sonarcloud.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-docker-images:
    name: Build Docker Image
    needs:
      - prepare
      - scan-code-quality
    strategy:
      matrix:
        service: ${{ fromJSON(needs.prepare.outputs.services) }}
    uses: ./.github/workflows/docker-build.yml
    with:
      service: ${{ matrix.service }}
      version: ${{ needs.prepare.outputs.version }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

  scan-image-vulnerabilities:
    name: Scan Image Vulnerabilities
    needs:
      - prepare
      - build-docker-images
    strategy:
      matrix:
        service: ${{ fromJSON(needs.prepare.outputs.services) }}
    uses: ./.github/workflows/trivy.yml
    with:
      service: ${{ matrix.service }}
      version: ${{ needs.prepare.outputs.version }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

  push-docker-images:
    name: Push Docker Images
    needs:
      - prepare
      - scan-image-vulnerabilities
    strategy:
      matrix:
        service: ${{ fromJSON(needs.prepare.outputs.services) }}
    uses: ./.github/workflows/docker-push.yml
    with:
      service: ${{ matrix.service }}
      version: ${{ needs.prepare.outputs.version }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
