name: Build, Scan and Push

on:
  push:
    tags:
      - "*.*.*"

jobs:
  extract-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Debug GITHUB_REF_NAME
        run: echo "GITHUB_REF_NAME = $GITHUB_REF_NAME"

      - name: Set version from tag
        id: version
        run: |
          if [ -z "$GITHUB_REF_NAME" ]; then
            echo "No tag found. Exiting."
            exit 1
          fi
          echo "version=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          echo "Version set to ${GITHUB_REF_NAME}"

  sonarqube:
    runs-on: ubuntu-latest
    needs: extract-version
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build:
    runs-on: ubuntu-latest
    needs:
      - extract-version
      - sonarqube
    strategy:
      matrix:
        service: [gateway, service-user, service-order]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Check Docker Tag
        run: |
          VERSION="${{ needs.extract-version.outputs.version }}"
          SERVICE="${{ matrix.service }}"
          USER="${{ secrets.DOCKERHUB_USERNAME }}"

          if [ -z "$VERSION" ]; then
            echo "ERROR: Version is empty. Exiting."
            exit 1
          fi

          echo "Docker tag: $USER/$SERVICE:$VERSION"

      - name: Build Image
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.service }}
          load: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ needs.extract-version.outputs.version }}

      - name: Save Image
        run: |
          docker save \
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ needs.extract-version.outputs.version }} \
            -o image.tar

      - name: Upload Image Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.service }}-image
          path: image.tar

  trivy-scan:
    runs-on: ubuntu-latest
    needs:
      - extract-version
      - build
    strategy:
      matrix:
        service: [gateway, service-user, service-order]
    steps:
      - name: Download Image Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.service }}-image

      - name: Load Image
        run: docker load -i image.tar

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ needs.extract-version.outputs.version }}
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          scanners: vuln

  push:
    runs-on: ubuntu-latest
    needs:
      - extract-version
      - trivy-scan
    strategy:
      matrix:
        service: [gateway, service-user, service-order]
    steps:
      - name: Download Image Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.service }}-image

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Image
        run: |
          VERSION="${{ needs.extract-version.outputs.version }}"
          SERVICE="${{ matrix.service }}"
          USER="${{ secrets.DOCKERHUB_USERNAME }}"

          docker load -i image.tar
          docker push $USER/$SERVICE:$VERSION
