name: Trivy Scan

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      version:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true

jobs:
  scan:
    name: Trivy Vulnerability Scan
    runs-on: ubuntu-latest
    steps:
      - name: Download Image Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.service }}-image

      - name: Load Image
        run: docker load -i image.tar

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/${{ inputs.service }}:${{ inputs.version }}
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL
          scanners: vuln
